<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/explore.css">
  <link rel="stylesheet" href="/navbar.css">
  {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> --}}
</head>
<body>

    <div class="sidenav">
        <a href="/feed">Home</a>
        <a href="/explore">Explore</a>
        <a href="#">Notifications</a>
        <a href="/pfp">Profile</a>
    </div>

  <div class="center">
    <form action="/explore/search" method="POST">
      <input type="name" action="/explore/search"
            class="search" id="search" name="search"
            placeholder="Search for songs, artists, albums, or users">
      </form>

      {{#if friends}}
        <h2 class="searchCategory">Users</h2>
      {{/if}}
      {{#each friends}}
        <div class="searchResults">
          <div class="searchText">
            {{this.username}}
            <a href="/explore/friend-request-sent/{{this.username}}/{{this.id}}" class="button">Add Friend</a>
          </div>
        </div>
      {{/each}}
      {{#if songs}}
        <h2 class="searchCategory">Songs</h2>
      {{/if}}
      {{#each songs}}
        <div class="searchResults">
          <div class="searchText">
            {{songname}}
            <div class="dropdown">
              <button class="dropbtn">Add to Discography</button>
              <div class="dropdown-content">
                <a href="/explore/add_song{{link}}/1">Spot 1</a>
                <a href="/explore/add_song{{link}}/2">Spot 2</a>
                <a href="/explore/add_song{{link}}/3">Spot 3</a>
                <a href="/explore/add_song{{link}}/4">Spot 4</a>
                <a href="/explore/add_song{{link}}/5">Spot 5</a>
              </div>
            </div>
            {{!-- <a href="/explore/add_song{{link}}" class="button">Add to Discography</a> --}}
          </div>
        </div>
      {{/each}}

    <div class="card-main">
      <div class="card">
        <a href="./blank.html" target="_blank">jack</a>
      </div>
      <div class="card">
        <a href="./blank.html" target="_blank">sam</a>
      </div>
      <div class="card">
        <a href="./blank.html" target="_blank">jerry</a>
      </div>
      <div class="card">
        <a href="./blank.html" target="_blank">tom</a>
      </div>
    </div>
  </div>

  <div class="right">
    <div class="list">
      <h1>Listening</h1>
      <div class="out-row">
        <div class="p-row">
          <span>jack smith</span>
        </div>
      </div>
      <div class="out-row">
        <div class="p-row">
          <span>jack smith</span>
        </div>
      </div>
      <div class="out-row">
        <div class="p-row">
          <span>jack smith</span>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  window.onload = function () {
    document.querySelector('.search').addEventListener('keyup', (event) => {
      if (event.keyCode === 13) {
        window.open('./blank.html')
      }
    })
  }
</script>
</body>
</html>