<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="./pfp.css">
  <link rel="stylesheet" href="./navbar.css">
</head>
<body>

    <div class="sidenav">
        <a href="/feed">Home</a>
        <a href="/explore">Explore</a>
        <a href="/pfp">Profile</a>
    </div>

  <div class="center">
    <div class="right-profile-info">
      <img src="{{{user.images.0.url}}}" alt="User's profile picture" class="pfp">
      <h1 class="name">{{{name}}}</h1>
      <h2 class="atname">@{{{username}}}</h2>
    </div>
    <div class="left-profile-info">
      <h1 class="name">Friends</h1>
      {{!-- Add friends here with hbs and javascript --}}
      {{#each friend_requests}}
        <div class="friendReq">
          <div class="friendText">{{this.username}}</div>
          <a href="/pfp/accept-friend/{{this.user_id_one}}" class="acceptFR">Accept</a>
          <a href="#" class="declineFR">Decline</a>
          </div>
      {{/each}}
      {{#each friends}}
        <div class="friendText">{{this.username}}</div>
      {{/each}}
    </div>
    
    <section class="subsections">
      <div class="artist-backing">
          <h1>Artists</h1>
          <div class="artists">
              <ul class="artist-list">
                  {{#each artist}}
                  <li>{{artist.name}}</li>
                  <!-- insert artist image here -->
                  {{/each}}
              </ul>
          </div>
          <form action="/removeArtists" method="get">
                <button type="button" class="btn btn-primary">RemoveAll</button>
          </form>
      </div>

      <div class="songs-backing">
          <h1>Songs</h1>
          <div class="songs">
              <ul class="song-list">
                  {{#each song}}
                  <li class="song">
                      <h3 class="song-name">{{song.name}}</h3>
                      <h4 class="song-artist">{{song.artist}}</h4>
                  </li>
                  {{/each}}
              </ul>
          </div>
          <form action="/removeSongs" method="get">
            <button type="button" class="btn btn-primary">RemoveAll</button>
          </form>
      </div>

      <div class="albums-backing">
          <h1>Albums</h1>
          <div class="albums">
              <ul class="album-list"> 
                  {{#each album}}
                  <li class="album">
                      <h3>{{album.name}}</h3>
                      <h4>{{album.artist}}</h4>
                      <!-- insert url here -->
                  </li>
                  {{/each}}
              </ul>
          </div>
          <form action="/removeAlbums" method="get">
                <button type="button" class="btn btn-primary">RemoveAll</button>
          </form>
      </div>
  </section>

  </div>

  <div class="right">
    <!-- here goes friend_select drop down button -->
    <form action="/friendSelect" method="get">
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Select Friend
            </button>
            <div class="dropdown-menu" name="friend-select">
                {{#each friend}}
                <option>{{friend.username}}</option>
                {{/each}}
            </div>
        </div>
        <button type="button" class="btn btn-primary">Submit</button>
    </form>

    <div class="queue">
        <h1>Aux</h1>
        <ul>
            {{#each song}}
            <li class="queue-item">
                <h2 class="user-friend">{{song.sentFrom}}</h2>
                <h3 class="song-name">{{song.name}</h4>
                <h4 class="song-artist">{{song.artist}}</h5>
            </li>
            {{/each}}
        </ul>
    </div>
  </div>


<script>
  window.onload = function () {
    document.querySelector('.search').addEventListener('keyup', (event) => {
      if (event.keyCode === 13) {
        window.open('./blank.html')
      }
    })
  }
</script>
</body>
</html>
