<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile | Vynilla</title>
    <link rel="stylesheet" href="./pfp.css">
    <link rel="stylesheet" href="./navbar.css">
    <script src="https://kit.fontawesome.com/a95c4725a7.js"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>


<body>
    <div class="sidenav">
        <a href="/feed">Home</a>
        <a href="/explore">Explore</a>
        <a href="#">Notifications</a>
        <a href="/profile">Profile</a>
    </div>

    <!-- grid wrapper -->
    <section class="wrapper">
        
        <div class="midsection">
            <div class="profile-section">
                <!-- <div class="flexy"> -->

                    <!-- pfp -->
                    <div> 
                        <img src="https://picsum.photos/id/237/600/400"
                            alt="A precious lil doggo" class="pfp">

                        <!-- user name -->
                        <h1 class="name">{{name}}</h1>
                        <h2 class="atname">@{{username}}</h2>

                    </div>

                    <div>
                        <div class="friends">
                            <h3>Friends</h3>
                            <h4>{{friendCount}}</h4>
                        </div>
                    </div>

                    
                    <!-- music icons -->
                    <div>
                        <div class="music">
                            <h3>Music</h3>
                            <div class="icons">
                                <i class="fas fa-play"></i>
                                <i class="fab fa-spotify"></i>
                                <i class="fas fa-music"></i>
                            </div>
                        </div>
                    </div>

                    <div class="description">
                        <p>
                            {{description}}
                        </p>
                    </div>

                    <div>
                        <a class="btn btn-primary btn-lg" href="#" role="button">Edit Profile</a>
                    </div>
                    

                    <!-- friends -->
                    
                <!-- </div> -->

            </div>
            <!-- artists, songs, albums -->
            <section class="subsections">

                <!-- artists live here. -->
                <!-- artist object notes -->
                <!--key     : value
                    id      : String
                    images  : Array[ImageObject]
                    name    : String
                -->
                <div class="artist-backing">
                    <h1>Artists</h1>
                    <!-- hopefully, this can give artists a nice backing-->
                    <!-- -->
                    <div class="artists">
                        <ul class="artist-list">
                            {{#each artist}}
                            <li>{{this}}</li> <!-- do fields go here? -->
                            {{/each}}
                        </ul>
                    </div>
                </div>

                <!-- songs live here -->
                <!-- SimplifiedSongObject notes -->
                <!--key : value
                    artists : Array[SimplifiedArtistObject]
                    id      : String
                    name    : String
                    images  : Array[ImageObject] //// only available in unsimplified 
                -->
                <div class="songs-backing">
                    <h1>Songs</h1>
                    <div class="songs">
                        <ul class="song-list">
                            {{#each song}}
                            <li class="song">
                                <h3 class="song-name">{{this}}</h3>
                                <h4 class="song-artist">{{this}}</h4>
                            </li>
                            {{/each}}
                            <!--
                            <li class="song">
                                <h3 class="song-name">Say So</h3>
                                <h4 class="song-artist">Doja Cat</h4>
                            </li>
                            -->
                        </ul>
                    </div>
                </div>

                <!-- albums live here -->
                <!-- album object notes -// can possibly use SimplifiedAlbumObject-->
                <!--key : value
                    artists : Array[ArtistObject]
                    id      : String
                    images  : Array[ImageObject]
                    name    : String
                --> 
                <div class="albums-backing">
                    <h1>Albums</h1>
                    <div class="albums">
                        <ul class="album-list"> 
                            {{#each album}}
                            <li class="album">
                                <h3>Mind Mischief</h3>
                                <h4>Tame Impala</h4>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>

            </section>
        </div>


        <!-- Use a flex box for Queue -->

        <!-- public user notes PublicUserObject -->
        <!-- 
            display_name : String
            id           : String
            images       : Array[ImageObject]
            followers    : FollowersObject
        -->
        <div class="friends-backer">

            <div class="friends">
                <h1>Aux</h1>
                <ul>
                    {{#each item}}
                    <li class="feed-item">
                        <h3 class="friend-name">jacksmith</h3>
                        <h4 class="song-name">Say So</h4>
                        <h5 class="song-artist">Doja Cat</h5>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>

    </section>


    <!-- image object -->
    <!-- key    : value
         height : int
         width  : int
         url    : String
    -->

    <!-- private user object -->
    <!-- key    : value
         display_name : String
         id           : String
         url          : Array[ImageObject]
    -->

    <!-- Followers object -->
    <!-- key    : value
         href  : String
         total : int
    -->


</body>

</html>
